<div class="container user">
        <div class="row">
                <div class="col-sm-12">
                <div class="input-group">
                        <input class="form-control" #userName/>
                        <span class="input-group-btn">
                                <button class="btn btn-primary" ngbButtonLabel (click)="add(userName.value); userName.value=''">
                                        Enter Chat
                                </button>
                        </span>
                </div>
                </div>
        </div>
</div>

