
<div class="containter message">
        <div class="col-sm-12 messageList">
                <div class="card border-dark mb-3"  *ngFor="let message of messages">
                        <div class="card-body">
                                <h6 class="card-title">{{message.user.username}}</h6>
                                <p class="card-text">{{message.content}}</p>
                        </div>
                </div>
        </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">

                <div class="input-group">
                                <input class="form-control" #messageContent/>
                                <span class="input-group-btn">
                                        <button class="btn btn-primary" (click)="sendMessage(messageContent.value); messageContent.value=''">
                                                Send Message
                                        </button>
                                </span>
                </div>
</nav>